.example-card {
    max-width: 400px;
    margin : auto;
    margin-top : 10%;
    margin-bottom: 2%;
  }
  
  .example-container > * {
    width: 100%;
  }
  
  mat-form-field {
     width: 10%;
    size: 20%;
  }
  
  h3{
   text-align: center;
   color : #3f51b5;
   padding-bottom: 7%;
  }
  
  .example-card{
    text-align: center;
  }
