<div class="bg">
  <mat-card class="example-card">
    <mat-card-header>
      <mat-card-title> S'identifier</mat-card-title>
    </mat-card-header>

    <mat-card-content>
        <form [formGroup]="form" (ngSubmit)="submit(form)">
            <!-- <h3> Login</h3> -->
            <div class="example-container">
                <mat-form-field >
                    <i class="material-icons" matSuffix>email</i>

                  <input matInput placeholder="Entrez votre login" formControlName="email" required>
                  <mat-error *ngIf="form.get('email').hasError('required')">Champs obligatoire</mat-error>
                  <mat-error *ngIf="form.get('email').hasError('maxlength')">15 caractères maximum</mat-error>
                  <mat-error *ngIf="form.get('email').hasError('email')">Veuillez saisir une adresse email valide</mat-error>

                </mat-form-field>
              </div>

              <div class="example-container">
                  <mat-form-field >
                      <i class="material-icons" matSuffix>lock</i>
                    <input type="password" matInput placeholder="Entrez votre mot de passe" formControlName="password" required>
                    <mat-error *ngIf="form.get('password').hasError('required')">Champs obligatoire</mat-error>
                    <mat-error *ngIf="form.get('password').hasError('maxlength')">15 caractères maximum</mat-error>
                  </mat-form-field>
                </div>
                </form>

                <div *ngIf="errorLogin" class="alert alert-danger" role="alert">
                    Login ou mot de passe incorrect !
                  </div>
                </mat-card-content>

    <mat-card-actions>
      <button mat-raised-button (click)="submit(form)" color="primary" [disabled]="form.invalid">Login</button>
    </mat-card-actions>
  </mat-card>



</div>
