<mat-toolbar>
  <div class="example-spacer">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" >
      <mat-icon>medical_services</mat-icon>
    </button>
    <span routerLink="/home" class="pharmacie">Pharmacie</span>
  </div>

  <div class="row">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" *ngIf="isLogged()"
    (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  </div>

 </mat-toolbar>