<div class="container">
    <div class="row">
      <div class="col col-sm-3"></div>
      <div class="col col-sm-6">
        <h1 mat-dialog-title class="alert alert-info">Liste des fournisseurs</h1>
      </div>
      <div class="col col-sm-3"></div>
    </div>
    <div class="row">
      <div class="col col-sm-12">
        <button mat-raised-button color="primary" (click)="openDialogAddFournisseur()">Ajouter un fournisseur</button>
      </div>
  
      <mat-form-field>
        <mat-label>Rechercher un médicament</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
        <span class="material-icons">
          search
        </span>
      </mat-form-field>
    </div>
  
  
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <ng-container matColumnDef="idFournisseur">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> id du fournisseur </th>
          <td mat-cell *matCellDef="let row"> {{row.idFournisseur}} </td>
        </ng-container>
  
        <ng-container matColumnDef="nomFournisseur">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom</th>
          <td mat-cell *matCellDef="let row"> {{row.nomFournisseur}} </td>
        </ng-container>
  
        <ng-container matColumnDef="mail">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> mail </th>
          <td mat-cell *matCellDef="let row"> {{row.mail}} </td>
        </ng-container>
  
  
  
        <ng-container matColumnDef="contacter">
          <th mat-header-cell *matHeaderCellDef> Contacter </th>
          <td mat-cell *matCellDef="let row">
            <a mat-button matTooltip="contacter" color="warn" (click)=openDialogMailFournisseur(row)>
              <mat-icon>email</mat-icon>
            </a>
          </td>
        </ng-container>
  
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
  
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>