table {
    width: 100%;
  }
  
  .mat-form-field {
    font-size: 14px;
    width: 100%;
  }

  .container {
      margin-bottom : 5%;
  }

  .material-icons{
      float: right;
  }

  .buttonRight {
    float: right;
    margin-top: 1%;
  }

  h1{
    text-align: center;
}


.quantMin{
    background-color: #FF6347;
}

.isOK{
  background-color: mintcream;
}

.dateKO {
  background-color: blue;
}
