<h2 mat-dialog-title>Confirmer la récéption de votre commande</h2>

<mat-dialog-content>
<p> Avez-vous bien reçu votre commande comportant l'identifiant : </p>
<p class="text-center"> <strong> {{this.data.idCommande}}</strong></p>
<p class="text-center"> <strong> {{this.data.medicament.nom}}</strong></p>
</mat-dialog-content>

<mat-dialog-actions align = "end">
    <button mat-button mat-dialog-close>Annuler</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Recu</button>
  </mat-dialog-actions>