<h2 mat-dialog-title>Passer une commande pour le medicament {{this.data.nom}}</h2>

<div mat-dialog-content>

    <form [formGroup]="form" (ngSubmit)="submit(form)">

        <mat-form-field  appearance="outline" readonly>
          <i class="material-icons" matSuffix>
            text_format
          </i>
          <input matInput placeholder="Entrer un nom" formControlName="nom" required readonly>
          <mat-error *ngIf="form.get('nom').hasError('required')">Champs obligatoire</mat-error>
          <mat-error *ngIf="form.get('nom').hasError('maxlength')">30 caractères maximum</mat-error>
        </mat-form-field>
    
        <br>
    
        <mat-form-field>
          <i class="material-icons" matSuffix>
            production_quantity_limits
          </i>
          <input matInput placeholder="Entrer une quantité" formControlName="nbrMed" required>
          <mat-error *ngIf="form.get('nbrMed').hasError('required')">Champs obligatoire</mat-error>
          <mat-error *ngIf="form.get('nbrMed').hasError('maxlength')">30 caractères maximum</mat-error>
        </mat-form-field>
    
        <br>
    
        <mat-form-field appearance="outline" readonly>
          <i class="material-icons" matSuffix>
            qr_code_2
          </i>
          <input matInput placeholder="Entrer un code barre" formControlName="codeBarre" required readonly>
          <mat-error *ngIf="form.get('codeBarre').hasError('required')">Champs obligatoire</mat-error>
          <mat-error *ngIf="form.get('codeBarre').hasError('maxlength')">30 caractères maximum</mat-error>
        </mat-form-field>
    
        <br>

        <mat-form-field readonly appearance="outline">
          <i class="material-icons" matSuffix>
            attach_money
            </i>
              <input matInput placeholder="Entrer un prix" formControlName="prix" required readonly>
              <mat-error *ngIf="form.get('prix').hasError('required')">Champs obligatoire</mat-error>
              <mat-error *ngIf="form.get('prix').hasError('maxlength')">30 caractères maximum</mat-error>
            </mat-form-field>
<br>

<mat-form-field readonly appearance="outline">
    <i class="material-icons" matSuffix>
      group
      </i>
        <input matInput placeholder="Fournisseur" formControlName="fournisseur" required readonly>
      </mat-form-field>
      </form>
</div>

<div mat-dialog-actions>
    <button mat-button (click)="onNoClick()">Annuler</button>
    <button [disabled]="form.invalid" mat-button cdkFocusInitial (click)="submit(form)">Commander</button>
  </div>