.headerHome {
    text-align: center;
    color: #5bc0de;
    font-size: 130%;
}

.helloDiv {
    margin-top: 5%;
    text-align: center;
    font-size: 350%;
    color : #5bc0de;
}

.redButtons{
    text-align: center;
    margin-top: 8%;
    font-size: 150%;
}

.medicamentExp{
    margin-right: 15%;
    padding: 7% 7% 7% 7%;
}

.quantiteMin{
    padding: 7% 7% 7% 7%;
}

.stockButtons{
    margin-top: 8%;
}

.blueButtons{
    padding: 7% 7% 7% 7%;
    font-size: 150%;
}

strong{
    cursor: pointer;
}
