<div class="container">
    <div class="row headerHome">
        <div class="col col-sm-4">
            <strong (click)="logout()">Déconnexion</strong>
        </div>

        <div class="col col-sm-4">
            <strong routerLink="/profil">Mon profil</strong>
        </div>

        <div class="col col-sm-4">
            <strong routerLink="/register">Ajouter un utilisateur</strong>
        </div>
    </div>

    <div class="row helloDiv">
        <div class="col col-sm-12">
            <strong> Bienvenue {{user?.nom}} {{user?.prenom}}</strong>
        </div>
    </div>

    <div class="row">
        <div class="col col-sm-2">
        </div>

        <div class="col col-sm-8 redButtons">
            <button class="btn btn-danger medicamentExp" routerLink="/listMedicaments"><strong>
                    <p>Médicaments expirés</p> <span> {{medicamentExp}}</span>
                </strong></button>
            <button class="btn btn-danger quantiteMin" routerLink="/listMedicaments"><strong>
                    <p>Quantité minimum</p> <span> {{medicamentMin}}</span>
                </strong></button>
        </div>

        <div class="col col-sm-2">
        </div>
    </div>

    <div class="row stockButtons">
        <div class="col col-sm-4">
            <button class="btn btn-info blueButtons" routerLink="/listCommandes"> <strong>
                    <p>Les commandes</p>
                    <span> {{commandeEnCours}}</span>
                </strong></button>
        </div>

        <div class="col col-sm-4">
            <button class="btn btn-info blueButtons" routerLink="/listMedicaments"> <strong>
                    <p>Stock médicaments</p>
                    <span> {{stockNb}}</span>
                </strong></button>
        </div>

        <div class="col col-sm-4">
            <button class="btn btn-info blueButtons" routerLink="/listFournisseur"><strong>
                    <p>Les fournisseurs</p>
                    <span>{{fournisseur}}</span>
                </strong></button>
        </div>

    </div>
</div>