<h2 mat-dialog-title>Etes-vous sur de vouloir supprimer ce médicament ?</h2>

<mat-dialog-content>
    <p> <strong> Nom : </strong>{{medicament.nom}}</p>
    <p> <strong> Code Barre : </strong>{{medicament.codeBarre}}</p>
    <p> <strong> Quantité : </strong>{{medicament.quantite}}</p>
    <p> <strong> date de peremption : </strong>{{medicament.datePeremption | date:'fullDate'}}</p>
    <p> <strong> Prix : </strong>{{medicament.prix}} €</p>


</mat-dialog-content>

<mat-dialog-actions align = "end">
    <button mat-button mat-dialog-close>Annuler</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Supprimer</button>
  </mat-dialog-actions>