<h2 mat-dialog-title>Etes-vous sur de vouloir supprimer cette commande ?</h2>

<mat-dialog-content>
    <p> <strong> Id de la commande : </strong> {{commande.idCommande}}</p>
    <p> <strong> Nombre commande : </strong>{{commande.nbrMed}}</p>
    <p> <strong> date de la commande : </strong>{{commande.dateCommande | date:'fullDate'}}</p>
    <p> <strong> Montant total de la commande : </strong>{{commande.montant}} €</p>
    <p> <strong> Statut de la commande : </strong>{{commande.statut.statutCommande}}</p>


</mat-dialog-content>

<mat-dialog-actions align = "end">
    <button mat-button mat-dialog-close>Annuler</button>
    <button mat-button [mat-dialog-close]="true" cdkFocusInitial>Supprimer</button>
  </mat-dialog-actions>