<div class="container">
  <div class="row">
    <div class="col col-sm-3"></div>
    <div class="col col-sm-6">
      <h1 mat-dialog-title class="alert alert-info">Liste des médicaments</h1>
    </div>
    <div class="col col-sm-3"></div>
  </div>
  <div class="row">
    <div class="col col-sm-12">
      <button mat-raised-button color="warn" (click)="listMedicamentExp()">Médicaments avec date expirés</button>
      <button class="buttonRight" mat-raised-button color="primary" (click)="openDialogAjoutMedicament()">
        Ajouter un médicament
      </button>
    </div>
    <div class="col col-sm-12">
      <button mat-raised-button color="warn" (click)="listMedicamentsMini()">Médicaments avec quantité mini</button>

      <button class="buttonRight" mat-raised-button color="primary" (click)="listAllMedicaments()">
        Tous les médicaments
      </button>
    </div>

    <mat-form-field>
      <mat-label>Rechercher un médicament</mat-label>
      <input matInput (keyup)="applyFilter($event)" #input>
      <span class="material-icons">
        search
      </span>
    </mat-form-field>
  </div>


  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort>
      <!-- Quantite Column -->
      <ng-container matColumnDef="quantite">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Quantité </th>
        <td mat-cell *matCellDef="let row"> {{row.quantite}} </td>
      </ng-container>

      <!-- codeBarre Column -->
      <ng-container matColumnDef="codeBarre">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Code Barre </th>
        <td mat-cell *matCellDef="let row"> {{row.codeBarre}} </td>
      </ng-container>

      <!-- Nom Column -->
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nom </th>
        <td mat-cell *matCellDef="let row"> {{row.nom}} </td>
      </ng-container>

      <!-- datePeremption Column -->
      <ng-container matColumnDef="datePeremption">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Date de péremption </th>
        <td mat-cell *matCellDef="let row"> {{row.datePeremption | date:'mediumDate'}} </td>
      </ng-container>

      <ng-container matColumnDef="fournisseur">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fournisseur </th>
        <td mat-cell *matCellDef="let row"> {{row.fournisseur.nomFournisseur}}</td>
      </ng-container>

      <!-- Prix Column -->
      <ng-container matColumnDef="prix">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Prix </th>
        <td mat-cell *matCellDef="let row"> {{row.prix}} €</td>
      </ng-container>

      <ng-container matColumnDef="commander">
        <th mat-header-cell *matHeaderCellDef> Commander </th>
        <td mat-cell *matCellDef="let row"> <a mat-button matTooltip="Commander" color="primary"
            (click)="openDialogCommande(row)">
            <mat-icon>add_shopping_cart</mat-icon>
          </a> </td>
      </ng-container>

      <ng-container matColumnDef="modifier">
        <th mat-header-cell *matHeaderCellDef> Modifier </th>
        <td mat-cell *matCellDef="let row"> <a mat-button matTooltip="Editer" color="primary"
            (click)="openDialogUpdateMedicament(row)">
            <mat-icon>create</mat-icon>
          </a> </td>
      </ng-container>

      <ng-container matColumnDef="supprimer">
        <th mat-header-cell *matHeaderCellDef> Supprimer </th>
        <td mat-cell *matCellDef="let row">
          <a mat-button matTooltip="Supprimer" color="warn" (click)="openDialogDeleteMedicament(row)">
            <mat-icon>clear</mat-icon>
          </a>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" [class.quantMin]="row.quantite < 11"
        [class.isOK]="row.quantite > 11"></tr>

      <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
      </tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
</div>