<h1 mat-dialog-title class="alert alert-info">Ajouter un fournisseur</h1>
<div mat-dialog-content>

    <form [formGroup]="form">

        <mat-form-field>
            <i class="material-icons" matSuffix>
                text_format
            </i>
            <input matInput placeholder="Entrer un nom" formControlName="nomFournisseur" required>
            <mat-error *ngIf="form.get('nomFournisseur').hasError('required')">Champs obligatoire</mat-error>
            <mat-error *ngIf="form.get('nomFournisseur').hasError('maxlength')">15 caractères maximum</mat-error>
        </mat-form-field>

        <br>

        <mat-form-field>
            <i class="material-icons" matSuffix>
                qr_code_2
            </i>
            <input matInput placeholder="Entrer un identifiant pour le fournisseur" formControlName="idFournisseur"
                type="number"required>
            <mat-error *ngIf="form.get('idFournisseur').hasError('required')">Champs obligatoire</mat-error>
            <mat-error *ngIf="form.get('idFournisseur').hasError('maxlength')">30 caractères maximum</mat-error>
        </mat-form-field>

        <br>

        <mat-form-field>
            <i class="material-icons" matSuffix>
                mail
            </i>
            <input matInput placeholder="Entrer l'email du fournisseur" formControlName="mail"
                required>
            <mat-error *ngIf="form.get('mail').hasError('required')">Champs obligatoire</mat-error>
            <mat-error *ngIf="form.get('mail').hasError('email')">Saisir une adresse email valide</mat-error>
        </mat-form-field>

    </form>

</div>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Annuler</button>
    <button mat-button [mat-dialog-close]="this.form.value" [disabled]="form.invalid" cdkFocusInitial>Commande</button>
    </mat-dialog-actions>