<div class="container">
    <div class="row">
      <div class="col-sm-3"></div>
  
      <div class="col-sm-6">
  
        <mat-card>
          <h1 mat-dialog-title class="alert alert-info">Profil de l'utilisateur</h1>
  
          <form [formGroup]="form">
  
            <mat-form-field appearance="outline" >
                <i class="material-icons" matSuffix>
                    qr_code
                </i>
                <input matInput formControlName="idUtilisateur" required readonly >
              </mat-form-field>

            <mat-form-field appearance="outline" >
              <i class="material-icons" matSuffix>
                person_pin
              </i>
              <input matInput placeholder="Entrer un nom" formControlName="nom" required readonly>
            </mat-form-field>
  
            <br>
  
            <mat-form-field appearance="outline">
              <i class="material-icons" matSuffix>
                person_pin
              </i>
              <input matInput placeholder="Entrer un prénom" formControlName="prenom" required readonly>
            </mat-form-field>
  
            <br>
  
            <mat-form-field appearance="outline">
              <i class="material-icons" matSuffix>
                email
              </i>
              <input matInput placeholder="Entrer un email" formControlName="email" required readonly>
            </mat-form-field>
  
            <br>
            <mat-form-field appearance="outline">
              <i class="material-icons" matSuffix>
                lock
              </i>
              <input matInput type="password" placeholder="Entrer un mot de passe" formControlName="password" required readonly>
            </mat-form-field>
  
            <br>
          </form>
        </mat-card>
  
      </div>
  
      <div class="col-sm-3"></div>
  
    </div>
  </div>