<mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>

      <mat-card-title>Envoyer un mail à {{this.data.nomFournisseur}}</mat-card-title>
      <mat-card-subtitle>Email : {{this.data.mail}} </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <form [formGroup]="form">
        <mat-form-field class="example-full-width">
            <mat-label>Laissez un message</mat-label>
            <textarea matInput placeholder="Entrer votre message" formControlName="mailContent"></textarea>
          </mat-form-field>
          </form>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button mat-dialog-close>Annuler</button>
      <button mat-button [mat-dialog-close]="this.form.value" [disabled]="form.invalid" cdkFocusInitial>Envoyer</button>
    </mat-card-actions>
  </mat-card>
  