<div class="container">
    <div class="row">
      <div class="col col-sm-3"></div>
      <div class="col col-sm-6">
        <h1 mat-dialog-title class="alert alert-info text-center">Liste des commandes passées</h1>
      </div>
      <div class="col col-sm-3"></div>
    </div>
    <div class="row">
      <div class="col col-sm-12">  
      <mat-form-field>
        <mat-label>Rechercher un médicament</mat-label>
        <input matInput (keyup)="applyFilter($event)" #input>
        <span class="material-icons">

          search
        </span>
      </mat-form-field>
    </div>
  
  
    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort> 
        <!-- Quantite Column -->
        <ng-container matColumnDef="numCommande">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Num Commande </th>
          <td mat-cell *matCellDef="let row"> {{row.idCommande}} </td>
        </ng-container>

        <ng-container matColumnDef="medicament">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom médicament</th>
          <td mat-cell *matCellDef="let row"> {{row.medicament.nom}} </td>
        </ng-container>

        <ng-container matColumnDef="fournisseur">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Nom fournisseur</th>
          <td mat-cell *matCellDef="let row"> {{row.medicament.fournisseur.nomFournisseur}} </td>
        </ng-container>
  
        <!-- codeBarre Column -->
        <ng-container matColumnDef="dateCommande">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> date Commande </th>
          <td mat-cell *matCellDef="let row"> {{row.dateCommande | date :'mediumDate'}} </td>
        </ng-container>
  
        <!-- Nom Column -->
        <ng-container matColumnDef="nbMedicament">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Nb Medicaments </th>
          <td mat-cell *matCellDef="let row"> {{row.nbrMed}} </td>
        </ng-container>
  
        <ng-container matColumnDef="montant">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Montant </th>
            <td mat-cell *matCellDef="let row"> {{row.montant}} € </td>
          </ng-container>
        <!-- datePeremption Column -->
        <ng-container matColumnDef="statut">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Statut </th>
          <td mat-cell *matCellDef="let row"> {{row.statut.statutCommande}} </td>
        </ng-container>

        <ng-container matColumnDef="recu">
            <th mat-header-cell *matHeaderCellDef> Reçu </th>
            <td mat-cell *matCellDef="let row"> 
              <button [disabled]="row.statut.statutCommande === 'reçue' || row.statut.statutCommande === 'saisie' " mat-button matTooltip="Changer le statut à reçu" color="primary"
              (click)="openChangeStatutDialog(row)">
                <mat-icon>done_outline</mat-icon>
            </button></td>
          </ng-container>

          <ng-container matColumnDef="saisir">
            <th mat-header-cell *matHeaderCellDef> Saisir </th>
            <td mat-cell *matCellDef="let row"> 
              <button [disabled]="row.statut.statutCommande !== 'reçue'" mat-button matTooltip="Changer le statut à saisir" color="primary"
              (click)="openChangeStatutSaisieDialog(row)">
                <mat-icon>reply</mat-icon>
              </button> </td>
          </ng-container>
  
        <ng-container matColumnDef="supprimer">
          <th mat-header-cell *matHeaderCellDef> Supprimer </th>
          <td mat-cell *matCellDef="let row">
            <button mat-button matTooltip="Supprimer" color="warn" 
            [disabled]="row.statut.statutCommande !== 'envoyée'"
            (click)="openDeleteDialog(row)">
              <mat-icon>clear</mat-icon>
            </button>
          </td>
        </ng-container>
  
  
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>
  
      <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
    </div>
  </div>
  </div>
  