<h1 mat-dialog-title class="alert alert-info">Ajouter un médicament</h1>
<div mat-dialog-content>

  <form [formGroup]="form" (ngSubmit)="submit(form)">

    <mat-form-field  >
      <i class="material-icons" matSuffix>
        text_format
      </i>
      <input matInput placeholder="Entrer un nom" formControlName="nom" required>
      <mat-error *ngIf="form.get('nom').hasError('required')">Champs obligatoire</mat-error>
      <mat-error *ngIf="form.get('nom').hasError('maxlength')">15 caractères maximum</mat-error>
    </mat-form-field>

    <br>

    <mat-form-field  >
      <i class="material-icons" matSuffix>
        production_quantity_limits
      </i>
      <input matInput type="number" placeholder="Entrer une quantité" formControlName="quantite" required>
      <mat-error *ngIf="form.get('quantite').hasError('required')">Champs obligatoire</mat-error>
      <mat-error *ngIf="form.get('quantite').hasError('maxlength')">15 caractères maximum</mat-error>
    </mat-form-field>

    <br>

    <mat-form-field  >
      <i class="material-icons" matSuffix>
        qr_code_2
      </i>
      <input matInput placeholder="Entrer un code barre" formControlName="codeBarre" required>
      <mat-error *ngIf="form.get('codeBarre').hasError('required')">Champs obligatoire</mat-error>
      <mat-error *ngIf="form.get('codeBarre').hasError('maxlength')">30 caractères maximum</mat-error>
    </mat-form-field>

    <br>

    <mat-form-field  >
      <input matInput [matDatepicker]="picker" placeholder="Date de péremption" formControlName="datePeremption">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <br>

    <mat-form-field  >
      <i class="material-icons" matSuffix>
        attach_money
      </i>
      <input matInput type="number" placeholder="Entrer un prix" formControlName="prix" required>
      <mat-error *ngIf="form.get('prix').hasError('required')">Champs obligatoire</mat-error>
    </mat-form-field>

    <mat-form-field  >
      <mat-label>Choisir un fournisseur</mat-label>
      <i class="material-icons" matSuffix>
          people_outline
          </i>
      <mat-select formControlName="fournisseur" required>
        <mat-option>--</mat-option>
        <mat-option *ngFor="let fournisseur of fournisseurs" [value]="fournisseur">
          {{fournisseur.nomFournisseur}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="form.get('fournisseur').hasError('required')">Champs obligatoire</mat-error>
    <mat-error *ngIf="form.get('fournisseur').hasError('maxlength')">30 chiffres maximum</mat-error>
  </mat-form-field>
  </form>

</div>

<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Annuler</button>
  <button [disabled]="form.invalid" mat-button cdkFocusInitial mat-dialog-close (click)="submit(form)">Ok</button>
</div>