<div class="container">
  <div class="row">
    <div class="col-sm-3"></div>

    <div class="col-sm-6">

      <mat-card>
        <h1 mat-dialog-title class="alert alert-info">Ajouter un utilisateur</h1>

        <form [formGroup]="form" (ngSubmit)="submit(form)">

          <mat-form-field appearance="outline" >
            <i class="material-icons" matSuffix>
              person_pin
            </i>
            <input matInput placeholder="Entrer un nom" formControlName="nom" required >
            <mat-error *ngIf="form.get('nom').hasError('required')">Champs obligatoire</mat-error>
            <mat-error *ngIf="form.get('nom').hasError('maxlength')">30 caractères maximum</mat-error>
          </mat-form-field>

          <br>

          <mat-form-field appearance="outline">
            <i class="material-icons" matSuffix>
              person_pin
            </i>
            <input matInput placeholder="Entrer un prénom" formControlName="prenom" required>
            <mat-error *ngIf="form.get('prenom').hasError('required')">Champs obligatoire</mat-error>
            <mat-error *ngIf="form.get('prenom').hasError('maxlength')">30 caractères maximum</mat-error>
          </mat-form-field>

          <br>

          <mat-form-field appearance="outline">
            <i class="material-icons" matSuffix>
              email
            </i>
            <input matInput placeholder="Entrer un email" formControlName="email" required >
            <mat-error *ngIf="form.get('email').hasError('required')">Champs obligatoire</mat-error>
            <mat-error *ngIf="form.get('email').hasError('email')">saisir une adresse mail valide</mat-error>
          </mat-form-field>

          <br>
          <mat-form-field appearance="outline">
            <i class="material-icons" matSuffix>
              lock
            </i>
            <input matInput type="password" placeholder="Entrer un mot de passe" formControlName="password" required>
            <mat-error *ngIf="form.get('password').hasError('required')">Champs obligatoire</mat-error>
            <mat-error *ngIf="form.get('password').hasError('maxlength')">30 caractères maximum</mat-error>
          </mat-form-field>

          <br>
        </form>
        <div class="text-center">
          <button [disabled]="form.invalid" mat-button cdkFocusInitial (click)="submit(form)">Enregistrer</button>
        </div>
      </mat-card>

    </div>

    <div class="col-sm-3"></div>

  </div>
</div>